
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 5px 20px 5px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

body table td, body .table th {
    padding: 0.15rem !important;
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 15px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 4px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

div.synonynm {
    background-color: #ffeb3b;
    display: inline-block;
    padding: 3px 3px;
    font-size: 7pt;
    border-radius: 5px;
}
div.synonynmgroup {
    background-color: #aaab3b;
    display: inline-block;
    padding: 3px 3px;
    font-size: 10pt;
    border-radius: 7px;
}

div.keyword {
    background-color: #FFeb3b;
    display: inline-block;
    padding: 1px 5px;
    font-size: 10pt;
    border-radius: 5px;
    color: white;
}

ul.ui-autocomplete.ui-front  {
    z-index: 9999
}

div.keyword a {
    text-decoration: none;
    font-family: arial;
    color: white;
    font-size: 7pt;
}

div.keyword.UNDEFINED {
    background-color: #f44336;
}

div.keyword.UNDEFINED_ABBR {
    background-color: #ff9800;
}

div.keyword.WORD {
    background-color: #8bc34a;
}

div.keyword.FIXED_NAME {
    background-color: #ae9187;
}

div.keywordwrapper {
    background-color: blue;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    color: white;
    cursor: pointer;
}

div.keywordwrapper:after {
    content: ' (+) '
}

span.addkeyword {
    cursor: pointer;
}

#spinner-div {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1200;
}

.keyword i {
    font-size : 8pt;
}

tfoot {
    display: table-header-group;
}