<h2>
    Products
</h2>
<div class="container" style="width: 100%;max-width: 100%">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">

            <table id="documentstable" class="table table-bordered table-responsive-sm table-sm" style="font-size: 9pt">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Original Text</th>
                    <th>New Text</th>
                    <th>Tokens</th>
                    <th>Translated</th>
                    <th>Ready</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Token</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="popuptoken">Token(s)</label>
                        <input type="text" disabled="true" class="form-control" id="popuptoken"/>
                    </div>
                    <div class="form-group">
                        <label for="popuptype">Token Type</label>
                        <select class="form-control" id="popuptype">
                            <option>WORD</option>
                            <option>FIXED_NAME</option>
                            <option>UNDEFINED</option>
                            <option>UNDEFINED_ABBR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="popuptype">Use as Synonym</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="useAsSynonym" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="synonymtokenwrapper">
                        <label for="popuptoken">Synonym for</label>
                        <input type="text" class="form-control" id="synonymtoken"/>
                    </div>


                    <div class="form-group" id="invertSynonymwrapper">
                        <label for="popuptype">Include Inverted Synonym</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="invertSynonym"
                                       aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveToken()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="documentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModel1">Edit Original Text</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="popuptoken">Product</label>
                        <input type="text" disabled="disabled" class="form-control" id="productcode"/>
                    </div>
                    <div class="form-group">
                        <label for="popuptoken">Original Name</label>
                        <input type="text" class="form-control" id="originalname"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveDocument()">Save changes</button>
            </div>
        </div>
    </div>
</div>