<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Pagination</title>

    <link rel="stylesheet" href="/content/main.css"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        span.example {
            color: grey
        }
    </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Tokens</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tokens">Tokens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documents">Documents</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="    padding: 1.5rem;    margin-right: 0;    margin-left: 0;    border-width: 0.2rem;">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Process</h5>
                    <p class="card-text"></p>
                    <ol>
                        <li>
                            Preprocessing
                            <ol>
                                <li>
                                    Trim : <span class="example">' X____WATER ( ' -> 'X____WATER ('</span>
                                </li>
                                <li>
                                    Remove underderscores : <span class="example">'X____WATER (' -> 'X&nbsp;&nbsp;&nbsp;&nbsp;WATER ('</span>
                                </li>
                                <li>
                                    Remove double spaces : <span class="example">'X&nbsp;&nbsp;&nbsp;&nbsp;WATER (' -> 'X WATER ('</span>
                                </li>
                                <li>
                                    Remove odd characters at the end. : <span
                                        class="example"> 'X WATER (' -> 'X WATER '</span>
                                </li>
                                <li>
                                    Trim : <span class="example">'X WATER (' -> 'X WATER'</span>
                                </li>
                                <li>
                                    Word Replacements / Synonyms
                                </li>
                            </ol>
                        </li>
                        <li>
                            Tokenize ([space], [(], [.] not followed by number or character) : 'X WATER' ->
                            <div class="keyword UNDEFINED_ABBR">X</div>
                            <div class="keyword UNDEFINED_ABBR">WATER</div>
                        </li>
                        <li>
                            Translate
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="    padding: 1.5rem;    margin-right: 0;    margin-left: 0;    border-width: 0.2rem;">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products Excel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                    <label for="fileupload">Choose a Excel:</label>
                    <input type="file" id="fileupload" name="fileupload"
                           accept="application/msexcel,application/vnd.ms-excel,application/x-msexcel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <button type="button" class="btn btn-primary" id="upload-button" onclick="uploadFile()"> Import
                        Products
                    </button>


                    <div style="background-color: #efffcb;padding: 20px;">
                        <label for="exoportd-button">Export Excel</label>
                        <button type="button" class="btn btn-primary" id="exoportd-button" onclick="exportexcel()">
                            Export Products
                        </button>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Export Tokens</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>


                    <label for="tokensupload">Choose a Excel:</label>
                    <input type="file" id="tokensupload" name="tokensupload"
                           accept="application/msexcel,application/vnd.ms-excel,application/x-msexcel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <button type="button" class="btn btn-primary" id="tokensupload-button" onclick="importTokens()">
                        Import Tokens
                    </button>

                    <div style="background-color: #efffcb;padding: 20px;">
                        <label for="exoport-button">Tokens</label>
                        <button type="button" class="btn btn-primary" id="exoport-button" onclick="exporttokens()">
                            Export Tokens
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 1.5rem;margin-right: 0;margin-left: 0;border-width: 0.2rem;">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Documents</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <canvas id="documentGraph" width="400" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tokens</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <canvas id="tokensGraph" width="400" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 1.5rem;margin-right: 0;margin-left: 0;border-width: 0.2rem;">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Start Cleaning Process</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div style="background-color: #efcbff;padding: 20px;">
                        <label for="clean-button">Start Cleaning</label>
                        <button type="button" class="btn btn-primary" id="clean-button" onclick="cleanData()"> Clean
                        </button>
                    </div>
                    <div style="background-color: #efcbff;padding: 20px;">
                        <label for="clean-button">Start Stranslating</label>
                        <button type="button" class="btn btn-primary" id="clean-button" onclick="translateData()">
                            Translate
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function () {
var borderColors = [
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
];
var backgroundColors = [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)'
];
        $.ajax({
            url: "/documents/facets",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json', // added data type
            success: function (res) {
                console.log(res);
                res.facetValues
                var dataLabels = res.facetValues.map(a => a.value);
                var data1 = res.facetValues.map(a => a.count);
                const ctx = document.getElementById('documentGraph').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: dataLabels,
                        datasets: [{
                            label: '# of Product Names',
                            data: data1,
                            backgroundColor: backgroundColors,
                            borderColor: borderColors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
        });

$.ajax({
            url: "/tokens/facets",
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json', // added data type
            success: function (res) {
                var dataLabels = res.facetValues.map(a => a.value);
                var data1 = res.facetValues.map(a => a.count);
                const ctx = document.getElementById('tokensGraph').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: dataLabels,
                        datasets: [{
                            label: '# of Product Names',
                            data: data1,
                            backgroundColor: backgroundColors,
                            borderColor: borderColors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
        });


    });
</script>

<script>
    async function uploadFile() {
        $('#spinner-div').show();
        let formData = new FormData();
        formData.append("file", fileupload.files[0]);
        let response = await fetch('/upload', {
            method: "POST",
            body: formData
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("File successfully uploaded.");
        }
    }

    async function cleanData() {
        $('#spinner-div').show();
        let response = await fetch('/cleandata', {
            method: "POST"
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("Clean data successfully.");
        }
    }

    async function translateData() {
        $('#spinner-div').show();
        let response = await fetch('/updatetranslations', {
            method: "POST"
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("Clean data successfully.");
        }
    }

    async function exporttokens() {
        $('#spinner-div').show();
        let response = await fetch('/tokens/export', {
            method: "POST"
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("Clean data successfully.");
        }
    }

    async function importTokens() {
        $('#spinner-div').show();
        let formData = new FormData();
        formData.append("file", tokensupload.files[0]);
        let response = await fetch('/tokens/import', {
            method: "POST",
            body: formData
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("File successfully uploaded.");
        }
    }

    async function exportexcel() {
        $('#spinner-div').show();
        let response = await fetch('/download', {
            method: "POST"
        });
        $('#spinner-div').hide()
        if (response.status == 200) {
            alert("Export data successfully.");
        }

    }
</script>

<div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
</div>
<div id="spinner-div" class="pt-5">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
</body>
</html>