<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.0/css/all.css} "/>
    <link rel="stylesheet" href="/content/main.css"/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Tokens</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tokens">Tokens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documents">Documents</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>
    Token
    <span th:text="${token.code}"></span>(<span th:text="${token.type}"></span>)
</h1>
<h2>
    Synonyms
</h2>

<h4>
    Word Replacements
</h4>
<td class="synonyms">
    <div class="synonynm" th:each="s : ${token.synonyms}" th:text="${s}"></div>
</td>
<h4>
    Token Parents
</h4>
<td class="synonyms">
    <a th:each="s : ${token.synonymGroups}" th:href="${'/tokens/detail/' + s.parent.uuid}">
        <div class="synonynm" th:text="${s.parent}"></div>
        <span><i class="fa-solid fa-circle-minus"></i></span>
    </a>
</td>
<h4>
    Used in Synonym Tokens
</h4>
<div class="synonynmgroup" th:each="s : ${token.synonymParents}">
    <a th:each="s : ${s.tokens}" th:href="${'/tokens/detail/' + s.uuid}">
        <div class="synonynm" th:text="${s}"></div>
    </a>
    <span><i class="fa-solid fa-circle-minus"></i></span>
</div>

<button type="button" style="float:right" onclick="deleteCurrentToken()" class="btn btn-danger">Delete</button>

<h2>
    Products
</h2>

<div class="container" style="width: 100%;max-width: 100%">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">

            <table id="documentstable" class="table table-bordered table-responsive-sm table-sm" style="font-size: 9pt">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Original Text</th>
                    <th>New Text</th>
                    <th>Tokens</th>
                    <th>Translated</th>
                    <th>Ready</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Token</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="popuptoken">Token(s)</label>
                        <input type="text" disabled="true" class="form-control" id="popuptoken"/>
                    </div>
                    <div class="form-group">
                        <label for="popuptype">Token Type</label>
                        <select class="form-control" id="popuptype">
                            <option>WORD</option>
                            <option>FIXED_NAME</option>
                            <option>UNDEFINED</option>
                            <option>UNDEFINED_ABBR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="popuptype">Use as Synonym</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="useAsSynonym" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="synonymtokenwrapper">
                        <label for="popuptoken">Synonym for</label>
                        <input type="text" class="form-control" id="synonymtoken"/>
                    </div>

                    <div class="form-group" id="invertSynonymwrapper">
                        <label for="popuptype">Include Inverted Synonym</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id="invertSynonym" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveToken()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="documentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModel1">Edit Original Text</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="popuptoken">Product</label>
                        <input type="text" disabled="disabled" class="form-control"  id="productcode"/>
                    </div>
                    <div class="form-group">
                        <label for="popuptoken">Original Name</label>
                        <input type="text" class="form-control" id="originalname"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveDocument()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<!--script src="/content/main.js"></script-->
<script src="/content/documents.js"></script>
<script src="/content/main.js"></script>

<div id="spinner-div" class="pt-5">
    <div class="spinner-border text-primary" role="status">
    </div>
</div>
</body>
</html>