<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Pagination</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div th:insert="fragments/headerInclude"></div>

</head>
<body>

<!-- Navigation -->
<div th:insert="fragments/header :: #header"></div>
<div th:insert="fragments/tokendetail :: #tokendetail"></div>
<div th:insert="fragments/tokentable"></div>

<div th:insert="fragments/footer"></div>




<!--script src="/content/main.js"></script-->
<script src="/content/documents.js"></script>
<script src="/content/main.js"></script>
</body>
</html>